body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
/*
==================
Common CSS Style
==================
*/
h1, h2, h3, h4, h5, h6 {
    color: #242B54;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1 {
    position: relative;
    display: inline-block;
    font-size: 40px;
    border-bottom: 1px solid #60C926;
    margin-bottom: 60px;
}
h1:before {
    content: "\f28e";
    font-family: FontAwesome;
    position: absolute;
    right: -13px;
    bottom: -7px;
    font-size: 14px;
    color: #60C926;
}
.common-section {
    padding: 70px 0;
}
/*
==================
Header Area Start
==================
*/
.navbar-default {
	border: none;
	background-color: rgba(0, 0, 0, .5);
}
.navbar {
	border-radius: 0;
	margin-bottom: 0;
	min-height: 80px;
}
.navbar-default .navbar-brand {
    color: #f5f5f5;
}
.navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus{
    color: #60C926;
}
.navbar-brand, 
.navbar-brand {
    margin-left: 0px;
    margin-top: 8px;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, 
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0px;
    color: #60C926;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #f5f5f5;
    background: none;
}
.navbar-nav>li {
    margin-top: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 15px;
	padding: 5px 3px;    
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: #f5f5f5;
    background-color: transparent;
    border-bottom: 1px solid #60C926;
}
.navbar-default .navbar-nav>li>a:hover:before {
	content: "\f28e";
    font-family: FontAwesome;
    position: absolute;
    top: 20px;
    right: -13px;
    font-size: 14px;
    color: #60C926;
}
.bg-img {
    padding: 600px;
    background-image: url(../images/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    
}
/*
==================
Service Area Start
==================
*/
.service {
    text-align: center;
    background-color: #fff;
}
.service-category {
    z-index: 90;
}
.single-category {
    border: 1px solid #C8CBD0;
    border-radius: 3px;
    position: relative;
    padding: 50px 0;
    background-color: #fff;
}
.single-category:hover {
    background-color: #E9ECFB;
}
.service-part:hover .circle {
    z-index: 2;
    transform: scale(1);
    transition: .4s;
}
.single-category .icon {
    margin-bottom: 25px;
}
.single-category .icon i {
    font-size: 45px;
    color: #60C926;
}

.single-category .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #242B55;
    position: absolute;
    bottom: -32px;
    left: 40%;
    transform: scale(0);

}
.single-category .circle i {
    color: #60C926;
    font-size: 20px;
    margin-top: 20px;
}
.service-head {
    margin: 80px 0;
}
.service-left p, ul li {
    text-align: left;
    font-size: 16px;
    color: #242B54;
}
.service-left p {
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px;
}
.service-left ul li {
    font-weight: bold;
    line-height: 35px;
}
.service-left ul li:before {
    content: "\f14a";
    font-family: FontAwesome;
    margin-left: 30px;
    margin-right: 20px;
    color: #60C926;
}
/*
==================
Process Area Start
==================
*/
.all-process {
    background-color: #E9ECFB;
    padding-bottom: 0;
}
.process {
    text-align: center;
}
.process-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #242B55;
    margin-left: 30%;
}
.process-circle:hover {
    background-color: #60C926;
}
.process-circle i {
    margin-top: 50px;
    font-size: 25px;
    color: #fff;
}
.process h4 {
    margin-top: 25px;
    margin-left: 2%;
}
.process-line {
    position: absolute; 
    top: 153px;
    left: 227px;
    right: -227px;
    bottom: -55px; 
}
.line {
    width: 50%;
    border: 1px solid #DBE1EF;

}
.process-line i {
    position: absolute;
    top: -10px;
    left: 0;
    right: 150px;
    bottom: 13px;
    font-size: 20px;
}
.process-des {
    background-color: #E1E7F5;
    padding: 60px 0;
    margin-top: 60px;
    font-weight: 400;
}
.process-des p {
    font-size: 16px;
    color: #242B54;
    line-height: 24px;
}
.process-des ol li {
    font-size: 16px;
    color: #242B54;
    line-height: 36px;
}
